:root {
    --cor-0: #010025;
    --cor-1: rgba(1, 0, 37, 0.7);
    --cor-2: #65637a;
    --cor-3: #888beb;
    --cor-4: #e1e8ff;
    --cor-5: #070646;
    --cor-6: #f8f7f7;
    --cor-7: #edebeb;
    --cor-8: #100f31;
    --cor-9: #e1e8ff;
    --cor-10: #dad5d5;
}